# Problem Overview

# Load Data

In [1]:
from __future__ import print_function, division
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

Load csv data into a pandas dataframe  
Dates column is handled by dateparser

In [13]:
%time train = pd.read_csv(r'data/train.csv', parse_dates=['Dates'])
%time test = pd.read_csv(r'data/test.csv', parse_dates=['Dates'])

CPU times: user 3.42 s, sys: 220 ms, total: 3.64 s
Wall time: 4.17 s
CPU times: user 2.99 s, sys: 228 ms, total: 3.22 s
Wall time: 4.83 s

Let's look at the first 5 elements

In [11]:
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

Now let's get some description of the features

In [12]:
train.describe(include='all')

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
count,878049,878049,878049,878049,878049,878049,878049,878049.000000,878049.000000
unique,389257,39,879,7,10,17,23228,NaN,NaN
top,2011-01-01 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,SOUTHERN,NONE,800 Block of BRYANT ST,NaN,NaN
freq,185,174900,60022,133734,157182,526790,26533,NaN,NaN
first,2003-01-06 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2015-05-13 23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.422616,37.771020
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030354,0.456893
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.513642,37.707879
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.432952,37.752427
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.416420,37.775421
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-122.406959,37.784369
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-120.500000,90.000000

*TO_BE_COMPLETED*   
More details about the columns  
Missing data detection

Now let's check the ***test data***

In [14]:
test.describe(include='all')

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
count,884262.000000,884262,884262,884262,884262,884262.000000,884262.000000
unique,NaN,392173,7,10,23184,NaN,NaN
top,NaN,2010-01-01 00:01:00,Friday,SOUTHERN,800 Block of BRYANT ST,NaN,NaN
freq,NaN,150,134703,157456,26984,NaN,NaN
first,NaN,2003-01-01 00:01:00,NaN,NaN,NaN,NaN,NaN
last,NaN,2015-05-10 23:59:00,NaN,NaN,NaN,NaN,NaN
mean,442130.500000,NaN,NaN,NaN,NaN,-122.422693,37.771476
std,255264.596206,NaN,NaN,NaN,NaN,0.030985,0.484824
min,0.000000,NaN,NaN,NaN,NaN,-122.513642,37.707879
25%,221065.250000,NaN,NaN,NaN,NaN,-122.433069,37.752374
50%,442130.500000,NaN,NaN,NaN,NaN,-122.416517,37.775421
75%,663195.750000,NaN,NaN,NaN,NaN,-122.406959,37.784353
max,884261.000000,NaN,NaN,NaN,NaN,-120.500000,90.000000

*Category* is abviously not there given that it is the output of the model.  
*Resolution* is also missing from the test data. We will need to remove it from the train set.

## Add and Remove Columns

Let's remove the *Resolution* column

In [16]:
train.drop(['Resolution'],axis=1)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541
5,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,0 Block of TEDDY AV,-122.403252,37.713431
6,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,INGLESIDE,AVALON AV / PERU AV,-122.423327,37.725138
7,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,BAYVIEW,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564
8,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,600 Block of 47TH AV,-122.508194,37.776601
9,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802
10,2015-05-13 22:58:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802
11,2015-05-13 22:30:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,0 Block of ESCOLTA WY,-122.487983,37.737667
12,2015-05-13 22:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Wednesday,TENDERLOIN,TURK ST / JONES ST,-122.412414,37.783004
13,2015-05-13 22:06:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,FILLMORE ST / GEARY BL,-122.432915,37.784353
14,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,200 Block of WILLIAMS AV,-122.397744,37.729935
15,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,0 Block of MENDELL ST,-122.383692,37.743189
16,2015-05-13 22:00:00,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Wednesday,TENDERLOIN,EDDY ST / JONES ST,-122.412597,37.783932
17,2015-05-13 21:55:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Wednesday,INGLESIDE,GODEUS ST / MISSION ST,-122.421682,37.742822
18,2015-05-13 21:40:00,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,BAYVIEW,MENDELL ST / HUDSON AV,-122.386401,37.738983
19,2015-05-13 21:30:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,TENDERLOIN,100 Block of JONES ST,-122.412250,37.782556
20,2015-05-13 21:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,200 Block of EVELYN WY,-122.449389,37.742669
21,2015-05-13 21:17:00,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,INGLESIDE,1600 Block of VALENCIA ST,-122.420272,37.747332
22,2015-05-13 21:11:00,WARRANTS,WARRANT ARREST,Wednesday,TENDERLOIN,100 Block of JONES ST,-122.412250,37.782556
23,2015-05-13 21:11:00,NON-CRIMINAL,"STAY AWAY OR COURT ORDER, NON-DV RELATED",Wednesday,TENDERLOIN,100 Block of JONES ST,-122.412250,37.782556
24,2015-05-13 21:10:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,FILLMORE ST / LOMBARD ST,-122.436049,37.799841
25,2015-05-13 21:00:00,NON-CRIMINAL,LOST PROPERTY,Wednesday,TENDERLOIN,300 Block of OFARRELL ST,-122.410509,37.786043
26,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,2000 Block of BUSH ST,-122.431018,37.787388
27,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,500 Block of COLLEGE AV,-122.423656,37.732556
28,2015-05-13 21:00:00,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Wednesday,TARAVAL,19TH AV / SANTIAGO ST,-122.475773,37.744919
29,2015-05-13 20:56:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,2000 Block of 41ST AV,-122.499787,37.748518
...,...,...,...,...,...,...,...,...
878019,2003-01-06 02:37:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,SOUTHERN,6TH ST / MARKET ST,-122.410294,37.782231
878020,2003-01-06 02:32:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,NORTHERN,VAN NESS AV / TURK ST,-122.420642,37.781961
878021,2003-01-06 02:24:00,VANDALISM,MALICIOUS MISCHIEF,Monday,NORTHERN,SANCHEZ ST / 14TH ST,-122.431191,37.767595
878022,2003-01-06 02:16:00,VEHICLE THEFT,RECOVERED VEHICLE - STOLEN OUTSIDE SF,Monday,MISSION,17TH ST / MISSION ST,-122.419516,37.763429
878023,2003-01-06 02:15:00,LARCENY/THEFT,GRAND THEFT PICKPOCKET,Monday,TENDERLOIN,600 Block of ELLIS ST,-122.416894,37.784286
878024,2003-01-06 02:09:00,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Monday,PARK,600 Block of DIVISADERO ST,-122.437781,37.775483
878025,2003-01-06 02:06:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,BAYVIEW,NEWHALL ST / GALVEZ AV,-122.387710,37.740674
878026,2003-01-06 02:06:00,WARRANTS,WARRANT ARREST,Monday,BAYVIEW,NEWHALL ST / GALVEZ AV,-122.387710,37.740674
878027,2003-01-06 02:00:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,SOUTHERN,900 Block of MARKET ST,-122.409708,37.782828
878028,2003-01-06 02:00:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Monday,SOUTHERN,6TH ST / MARKET ST,-122.410294,37.782231
878029,2003-01-06 01:54:00,OTHER OFFENSES,PROBATION VIOLATION,Monday,TENDERLOIN,1400 Block of GOLDEN GATE AV,-122.434423,37.779193
878030,2003-01-06 01:54:00,SEX OFFENSES FORCIBLE,"FORCIBLE RAPE, BODILY FORCE",Monday,TENDERLOIN,1400 Block of GOLDEN GATE AV,-122.434423,37.779193
878031,2003-01-06 01:50:00,ASSAULT,BATTERY,Monday,BAYVIEW,3RD ST / NEWCOMB AV,-122.390417,37.735593
878032,2003-01-06 01:36:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,GEARY BL / FRANKLIN ST,-122.423031,37.785482
878033,2003-01-06 01:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,RICHMOND,1000 Block of 22ND AV,-122.391668,37.757793
878034,2003-01-06 01:30:00,TRESPASS,TRESPASSING,Monday,RICHMOND,1000 Block of 22ND AV,-122.391668,37.757793
878035,2003-01-06 00:55:00,ASSAULT,BATTERY,Monday,NORTHERN,1300 Block of WEBSTER ST,-122.431046,37.783030
878036,2003-01-06 00:55:00,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Monday,NORTHERN,1300 Block of WEBSTER ST,-122.431046,37.783030
878037,2003-01-06 00:55:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,NORTHERN,1300 Block of WEBSTER ST,-122.431046,37.783030
878038,2003-01-06 00:42:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,TENDERLOIN,TAYLOR ST / GEARY ST,-122.411519,37.786941
878039,2003-01-06 00:40:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,POLK ST / CALIFORNIA ST,-122.420692,37.790577
878040,2003-01-06 00:33:00,ASSAULT,INFLICT INJURY ON COHABITEE,Monday,MISSION,2800 Block of FOLSOM ST,-122.414073,37.751685
878041,2003-01-06 00:31:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,RICHMOND,CLEMENT ST / 14TH AV,-122.472985,37.782552
878042,2003-01-06 00:20:00,ASSAULT,ATTEMPTED HOMICIDE WITH A GUN,Monday,BAYVIEW,1500 Block of SHAFTER AV,-122.389769,37.730564
878043,2003-01-06 00:20:00,OTHER OFFENSES,PAROLE VIOLATION,Monday,BAYVIEW,1500 Block of SHAFTER AV,-122.389769,37.730564
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,FARALLONES ST / CAPITOL AV,-122.459033,37.714056
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,600 Block of EDNA ST,-122.447364,37.731948
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,5TH ST / FOLSOM ST,-122.403390,37.780266
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,TOWNSEND ST / 2ND ST,-122.390531,37.780607
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,1800 Block of NEWCOMB AV,-122.394926,37.738212

Let's check the remaining columns now

In [17]:
train.columns

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'],
      dtype='object')

This is a common pattern in pandas.   
Destructive operations leads to copy of data.  
In order to prevent this one solution is:

In [18]:
train.drop(['Resolution'],axis=1,inplace=True)

Now let's try to add a Year column out of the Dates feature

In [19]:
train.Dates

0        2015-05-13 23:53:00
1        2015-05-13 23:53:00
2        2015-05-13 23:33:00
3        2015-05-13 23:30:00
4        2015-05-13 23:30:00
5        2015-05-13 23:30:00
6        2015-05-13 23:30:00
7        2015-05-13 23:30:00
8        2015-05-13 23:00:00
9        2015-05-13 23:00:00
10       2015-05-13 22:58:00
11       2015-05-13 22:30:00
12       2015-05-13 22:30:00
13       2015-05-13 22:06:00
14       2015-05-13 22:00:00
15       2015-05-13 22:00:00
16       2015-05-13 22:00:00
17       2015-05-13 21:55:00
18       2015-05-13 21:40:00
19       2015-05-13 21:30:00
20       2015-05-13 21:30:00
21       2015-05-13 21:17:00
22       2015-05-13 21:11:00
23       2015-05-13 21:11:00
24       2015-05-13 21:10:00
25       2015-05-13 21:00:00
26       2015-05-13 21:00:00
27       2015-05-13 21:00:00
28       2015-05-13 21:00:00
29       2015-05-13 20:56:00
                 ...
878019   2003-01-06 02:37:00
878020   2003-01-06 02:32:00
878021   2003-01-06 02:24:00
878022   2003-01-06 02:16:00
878023   2003-01-06 02:15:00
878024   2003-01-06 02:09:00
878025   2003-01-06 02:06:00
878026   2003-01-06 02:06:00
878027   2003-01-06 02:00:00
878028   2003-01-06 02:00:00
878029   2003-01-06 01:54:00
878030   2003-01-06 01:54:00
878031   2003-01-06 01:50:00
878032   2003-01-06 01:36:00
878033   2003-01-06 01:30:00
878034   2003-01-06 01:30:00
878035   2003-01-06 00:55:00
878036   2003-01-06 00:55:00
878037   2003-01-06 00:55:00
878038   2003-01-06 00:42:00
878039   2003-01-06 00:40:00
878040   2003-01-06 00:33:00
878041   2003-01-06 00:31:00
878042   2003-01-06 00:20:00
878043   2003-01-06 00:20:00
878044   2003-01-06 00:15:00
878045   2003-01-06 00:01:00
878046   2003-01-06 00:01:00
878047   2003-01-06 00:01:00
878048   2003-01-06 00:01:00
Name: Dates, dtype: datetime64[ns]

In order to create a new column out of Date we can use the map function.   
We pass a function which will be used to do the transformation elementwise.

In [22]:
%time  years = train.Dates.map(lambda d: d.year)
years

CPU times: user 5.68 s, sys: 164 ms, total: 5.84 s
Wall time: 5.82 s

0         2015
1         2015
2         2015
3         2015
4         2015
5         2015
6         2015
7         2015
8         2015
9         2015
10        2015
11        2015
12        2015
13        2015
14        2015
15        2015
16        2015
17        2015
18        2015
19        2015
20        2015
21        2015
22        2015
23        2015
24        2015
25        2015
26        2015
27        2015
28        2015
29        2015
          ...
878019    2003
878020    2003
878021    2003
878022    2003
878023    2003
878024    2003
878025    2003
878026    2003
878027    2003
878028    2003
878029    2003
878030    2003
878031    2003
878032    2003
878033    2003
878034    2003
878035    2003
878036    2003
878037    2003
878038    2003
878039    2003
878040    2003
878041    2003
878042    2003
878043    2003
878044    2003
878045    2003
878046    2003
878047    2003
878048    2003
Name: Dates, dtype: int64

Now we can push add the column to the existing dataframe

In [23]:
train['Year'] = years

In [24]:
train.describe(include='all')

,Dates,Category,Descript,DayOfWeek,PdDistrict,Address,X,Y,Year
count,878049,878049,878049,878049,878049,878049,878049.000000,878049.000000,878049.000000
unique,389257,39,879,7,10,23228,NaN,NaN,NaN
top,2011-01-01 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,SOUTHERN,800 Block of BRYANT ST,NaN,NaN,NaN
freq,185,174900,60022,133734,157182,26533,NaN,NaN,NaN
first,2003-01-06 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2015-05-13 23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,-122.422616,37.771020,2008.712046
std,NaN,NaN,NaN,NaN,NaN,NaN,0.030354,0.456893,3.631194
min,NaN,NaN,NaN,NaN,NaN,NaN,-122.513642,37.707879,2003.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,-122.432952,37.752427,2006.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,-122.416420,37.775421,2009.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,-122.406959,37.784369,2012.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,-120.500000,90.000000,2015.000000

Pandas provides helper function to manipulate both string and dates column  
These functions are both convienient and more optimised

In [ ]:
%time train.Dates.dt.

In [ ]:
%time train.Category.str.

Now let's create some extra columns: Month, Day, DayOfWeek and Hour

In [29]:
%time train['Month'] = train.Dates.dt.month
%time train['Day'] = train.Dates.dt.day
%time train['DayOfWeek'] = train.Dates.dt.dayofweek
%time train['Hour'] = train.Dates.dt.hour

CPU times: user 101 ms, sys: 14.2 ms, total: 115 ms
Wall time: 113 ms
CPU times: user 99.5 ms, sys: 9.07 ms, total: 109 ms
Wall time: 109 ms
CPU times: user 110 ms, sys: 11.1 ms, total: 121 ms
Wall time: 122 ms
CPU times: user 98.7 ms, sys: 13.7 ms, total: 112 ms
Wall time: 116 ms

In [30]:
train.describe(include='all')

,Dates,Category,Descript,DayOfWeek,PdDistrict,Address,X,Y,Year,Month,Day,Hour
count,878049,878049,878049,878049.000000,878049,878049,878049.000000,878049.000000,878049.000000,878049.000000,878049.000000,878049.000000
unique,389257,39,879,NaN,10,23228,NaN,NaN,NaN,NaN,NaN,NaN
top,2011-01-01 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,NaN,SOUTHERN,800 Block of BRYANT ST,NaN,NaN,NaN,NaN,NaN,NaN
freq,185,174900,60022,NaN,157182,26533,NaN,NaN,NaN,NaN,NaN,NaN
first,2003-01-06 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2015-05-13 23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.992691,NaN,NaN,-122.422616,37.771020,2008.712046,6.436509,15.570623,13.412655
std,NaN,NaN,NaN,1.972023,NaN,NaN,0.030354,0.456893,3.631194,3.428972,8.783005,6.549573
min,NaN,NaN,NaN,0.000000,NaN,NaN,-122.513642,37.707879,2003.000000,1.000000,1.000000,0.000000
25%,NaN,NaN,NaN,1.000000,NaN,NaN,-122.432952,37.752427,2006.000000,3.000000,8.000000,9.000000
50%,NaN,NaN,NaN,3.000000,NaN,NaN,-122.416420,37.775421,2009.000000,6.000000,16.000000,14.000000
75%,NaN,NaN,NaN,5.000000,NaN,NaN,-122.406959,37.784369,2012.000000,9.000000,23.000000,19.000000
max,NaN,NaN,NaN,6.000000,NaN,NaN,-120.500000,90.000000,2015.000000,12.000000,31.000000,23.000000

## Filter Data

## More info on columns

## Data Reshaping

## Time Series

group and count by Dates (up to hours) and plot    
resample to days and plot  
resample to weeks and plot   
resample to months and plot